.pagination {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
    border-radius: 15px;
}

.pagination button:disabled {
    color: #ccc;
    cursor: not-allowed;
}
